div#about-me {
  @include position(absolute, $null);
  @include hidden-overflow;
  @include size($max);

  background-color: $black;
  z-index: $z-message;
  display: block;

  p.about-text {
    @include transition(opacity 1s ease-out);
    @include position(absolute, $null);
    @include size(1050px 395px);
    @include white-rabbit;

    line-height: 28px;
    font-size: 18px;
    margin: auto;
    opacity: 1;

    &.fadeOut {
      opacity: 0;
    }

    @include breakpoint($small) {
      width: 900px;
    }

    @include breakpoint($mobile) {
      line-height: 20px;
      font-size: 13px;

      height: 360px;
      width: 95vw;
    }

    @include breakpoint($phone) {
      margin-top: 15vh;
    }

    @media only screen and (max-height: 550px) {
      margin-top: 5vh;
    }
  }
}
