div#about-me {
  @include position(absolute, $null);
  @include size($max);

  background-color: $black;
  z-index: $z-message;
  display: block;

  p.about-text {
    @include transition(opacity 1s ease-out);
    @include position(absolute, $null);
    @include size(1050px 395px);
    @include white-rabbit;

    line-height: 28px;
    font-size: 18px;
    margin: auto;
    opacity: 1;

    &.fadeOut {
      opacity: 0;
    }
  }
}
