/*
 * Global Fonts
 */

@font-face {
  font-family: 'White Rabbit';
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;

  src: url('fonts/White Rabbit/White Rabbit.eot?') format('eot'),
       url('fonts/White Rabbit/White Rabbit.woff') format('woff'),
       url('fonts/White Rabbit/White Rabbit.ttf') format('truetype'),
       url('fonts/White Rabbit/White Rabbit.svg#WhiteRabbit') format('svg');
}

@font-face {
  font-family: 'Martix Code NFI';
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;

  src: url('./fonts/Matrix Code NFI/Matrix Code NFI.otf') format('opentype'),
       url('./fonts/Matrix Code NFI/Matrix Code NFI.ttf') format('truetype');
}
