<div id="contact-me">
  <div class="contacts-area" [class.fadeOut]='fadeOut'>

    <div *ngFor="let contact of contactsList; let c = index;"
          class="contact-source hidden-source" [class.active]='c === currentContact'>

      <div class="selected-contact">></div><p class="contact">{{ contact }}</p>
      <span *ngIf="c === 2" class="e-mail"> - ustym.ukhman@gmail.com</span>

    </div>
  </div>

  <div class="contacts-area matrix-rain">
    <matrix-rain
      [removeRain]='removeMatrixRain'
      [raining]='startRaining'>
    </matrix-rain>
  </div>

  <back-button
    [showBackButton]='showBackButton'
    [active]='activeBackButton'
    [backToMenu]='goToMenu'>
  </back-button>
</div>
