div#contact-me {
  @include position(absolute, $null);
  @include size($max);

  background-color: $black;
  padding-left: 100px;
  z-index: 2;

  &.hidden {
    @include remove-element;
  }

  div.contacts-area {
    @include transition(opacity .5s ease-out);
    @include position(absolute, $null null $null);

    height: 78.5vh;
    margin: auto;
    opacity: 1;

    &.fadeOut {
      opacity: 0;
    }

    div.contact-source {
      margin: 14vh 0;

      &.hidden-source {
        @include hidden-element;
      }

      p.contact,
      div.selected-contact {
        @include transition(transform .3s ease-out);
        @include white-rabbit;

        display: inline-block;
        font-size: 25px;
      }

      div.selected-contact.active {
        @include visible-element;
      }

      p.contact {
        line-height: 20px;

        &.active {
          @include transform(translateX(25px));

          position: relative;
          color: $fade-green;
        }
      }

      span.e-mail {
        @include transition(transform .3s ease-out, opacity .3s ease-out);
        @include visible-element;
        @include white-rabbit;

        white-space: nowrap;
        position: absolute;
        margin-left: 10px;

        font-style: italic;
        line-height: 20px;
        font-size: 25px;

        color: $fade-green;
        cursor: default;
        width: auto;
        opacity: 0;

        &.active {
          @include transform(translateX(25px));
          opacity: 1;
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, 0 auto 0 $half);
    @include size(100% $max);
  }
}
