{
  "root": true,
  "parser": "vue-eslint-parser",

  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "generator-star-spacing": 0,
    "comma-dangle": 2,
    "no-debugger": 1,
    "no-console": 0,
    "no-undef": 0
  },

  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },

  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-essential",
    "eslint:recommended"
  ],

  "plugins": [
    "@typescript-eslint",
    "vue"
  ],

  "globals": {
    "navigator": false,
    "document": false,
    "unescape": false,
    "describe": true,
    "escape": false,
    "window": false,
    "before": true,
    "expect": true,
    "THREE": false,
    "sinon": true,
    "it": true
  },

  "env": {
    "browser": true,
    "node": true
  }
}
