tmp
pids
logs

.idea
.vscode
.DS_Store
.env.local
.env.*.local
.lock-wscript

*.pid
*.log
*.log*
*.sw?
*.suo
*.sln
*.seed
*.ntvs*
*.njsproj
*.code-workspace
*.sublime-workspace

public/
coverage/
tslint.xml
bitnami.pem
node_modules/
static/video/*.mp4
