*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background: #1f1f1f;
  --color: #e0e0e0;
  --hover: #fff;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;

  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  font-synthesis: none;
  touch-action: none;

  color-scheme: light dark;

  overflow: hidden auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

body {
  display: grid;
  place-items: center;

  min-height: 100svh;
  max-height: 100svh;

  padding: 48px 16px;
  margin: auto;

  width: 64ch;
  max-width: 650px;

  font: 18px / 1.5
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Helvetica, sans-serif;

  background-color: var(--background);
  color: var(--color);
}

h1, h2, h3 {
  font-family: Lucida Console,
    Courier New, monospace;
}

/* h2 { font-size: 30px } */
/* h3 { font-size: 24px } */

figure.about {
  position: relative;
  text-wrap: pretty;
  margin: 0px;

  > img {
    float: left;
    width: 150px;

    border-radius: 50%;
    margin-inline-end: 32px;
    shape-outside: circle(50%);

    &:last-child {
      visibility: hidden;
      position: absolute;

      left: 0px;
      top: 0px;
    }
  }

  &:hover > img:last-child {
    visibility: visible;
  }
}

ul.links {
  display: flex;
  column-gap: 16px;
  justify-content: center;

  list-style: none;
  padding: 0px;
  margin: 0px;

  > li {
    min-width: 32px;

    > a > svg {
      display: block;

      &:hover > path {
        fill: var(--hover);
      }

      > path {
        transition: fill 0.25s;
        fill: var(--color);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }

  figure.about > img {
    margin-inline-end: 12px;
    margin-bottom: 8px;
    width: 95px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #e0e0e0;
    --color: #1f1f1f;
    --hover: #000;
  }

  figure.about {
    > img:last-child {
      visibility: visible;
    }

    &:hover > img:last-child {
      visibility: hidden;
    }
  }
}

::selection {
  background-color: var(--color);
  color: var(--background);
}
