*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background: #1f1f1f;
  --color: #e0e0e0;
  --hover: #fff;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;

  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  text-size-adjust: none;
  font-synthesis: none;

  overflow: hidden auto;
  scroll-behavior: smooth;
  scroll-padding-top: 48px;
  overscroll-behavior: contain;
}

body {
  padding: 48px 16px;
  margin: auto;

  width: 64ch;
  max-width: 650px;

  font: 18px / 1.5
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Helvetica, sans-serif;

  background-color: var(--background);
  color: var(--color);
}

h1,
h2,
address {
  font-family: Lucida Console,
    Courier New, monospace;
}

a {
  transition: color 400ms;
  text-decoration: none;
  color: var(--color);
  display: block;

  > svg {
    height: 100%;
    display: block;

    &:hover > path {
      fill: var(--hover);
    }

    > path {
      transition: fill 400ms;
      fill: var(--color);
    }

    &.preview {
      padding: 1px;
      stroke-width: 2;
      stroke: var(--color);

      stroke-linecap: round;
      stroke-linejoin: round;
      transition: stroke 400ms;

      &:hover {
        stroke: var(--hover);
      }

      > path {
        transition: none;
        fill: none;
      }
    }
  }

  &:hover {
    color: var(--hover);
  }
}

nav,
main,
section {
  margin-bottom: 48px;
}

nav.hide {
  display: flex;
  font-size: 16px;
  animation-delay: 1s;

  text-transform: uppercase;
  justify-content: space-evenly;
  transform: translate3d(0, -20px, 0);

  font-family: Lucida Console,
    Courier New, monospace;

  > a {
    position: relative;
    overflow: hidden;
    height: 28px;

    &::after {
      left: 0px;
      opacity: 0;
      content: "";
      bottom: 0px;

      width: 100%;
      height: 1px;

      position: absolute;
      translate: 100% 0 0;
      will-change: transform;

      backface-visibility: hidden;
      background-color: var(--hover);
      transform: translate3d(0, 0, 0);

      transition: transform 400ms ease-in-out,
        translate 400ms ease-in-out, opacity 200ms 400ms;
    }

    &:hover::after {
      transition: transform 400ms ease-in-out, opacity 200ms;
      transform: translate3d(100%, 0, 0);

      will-change: transform;
      translate: -100% 0 0;
      opacity: 1;
    }
  }
}

figure#about {
  margin: 0px 0px 48px;
  position: relative;
  text-wrap: pretty;
  overflow: hidden;

  > img {
    float: left;
    border-radius: 50%;
    margin-inline-end: 24px;
    shape-outside: circle(50%);

    &:first-child {
      animation: 400ms ease-out forwards fade;
      backface-visibility: hidden;
      transform-origin: center;

      opacity: 0;
      scale: 0.8;
    }

    &:last-child {
      visibility: hidden;
      position: absolute;

      left: 0px;
      top: 0px;
    }
  }

  > figcaption {
    transform: translate3d(20px, 0, 0);
  }

  &:hover > img:last-child {
    visibility: visible;
  }
}

section:first-of-type {
  > header {
    animation-delay: 200ms;
  }

  > table {
    animation-delay: 400ms;
  }
}

div.hide,
header.hide {
  display: flex;
  column-gap: 16px;
  animation-delay: 600ms;

  > hr {
    width: 100%; height: 1px;
    border: none; margin: auto;
    background-color: var(--color);
  }

  > h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
  }
}

table.hide {
  width: 100%;
  animation-delay: 800ms;
  border-collapse: collapse;

  tr:last-child > td {
    padding-bottom: 0px;
  }

  td {
    padding: 8px 0px;

    &:first-child {
      padding-right: 16px;
    }

    > h3 {
      font-weight: normal;
      font-size: 20px;
      margin: 0px;
    }

    > i {
      display: block;
      font-size: 16px;
      text-wrap: balance;
    }

    > time,
    > address {
      display: block;
      font-style: normal;
      white-space: nowrap;
    }

    > time {
      font-size: 16px;
      line-height: 30px;
    }

    > address {
      font-size: 14px;
      line-height: 24px;
      translate: 0px 2px;
    }

    > div {
      height: 24px;
      display: flex;
      column-gap: 8px;
      justify-content: end;
    }

    &:nth-child(even) {
      vertical-align: top;
      text-align: right;
    }
  }
}

footer#links {
  > div {
    animation-delay: 1s;
  }

  > ul {
    display: flex;
    column-gap: 16px;
    animation-delay: 1.2s;
    justify-content: center;

    padding: 16px 0px 0px;
    list-style: none;
    margin: 0px;

    > li {
      min-width: 32px;
    }
  }
}

.hide {
  opacity: 0;
  backface-visibility: hidden;
  transform: translate3d(0, 20px, 0);
  animation: 400ms ease-out forwards slide;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    font-size: 16px;
  }

  nav.hide {
    font-size: 14px;

    > a::after {
      display: none;
    }
  }

  figure#about > img {
    margin-bottom: 5px;
    height: 100px;
    width: 100px;
  }

  div.hide > h2,
  header.hide > h2 {
    font-size: 12px;
  }

  table.hide td {
    > h3 {
      font-size: 16px;
    }

    > i {
      font-size: 14px;
    }

    > time {
      font-size: 12px;
      line-height: 24px;
    }

    > address {
      font-size: 10px;
      line-height: 21px;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #e0e0e0;
    --color: #1f1f1f;
    --hover: #000;
  }

  figure#about {
    > img:last-child {
      visibility: visible;
    }

    &:hover > img:last-child {
      visibility: hidden;
    }
  }
}

@keyframes slide {
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
    scale: 1;
  }
}

::selection {
  background-color: var(--color);
  color: var(--background);
}
