<!DOCTYPE html>
<html class="no-js" id="html-element">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- include modernizr built by webpack -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks['modernizr.'].entry %>"></script>
    <!-- initial js, handles modernizr classes in conjunction with pre-rendering system -->
    <script type="text/javascript" src="/static/js/initial.js"></script>
    <!-- initial css, used mostly to define preloader style -->
    <link href="/static/css/initial.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"
    version=<%= htmlWebpackPlugin.options.gitRevision.version %>
    commit-hash=<%= htmlWebpackPlugin.options.gitRevision.commitHash %>
    deploy-flag=<%= htmlWebpackPlugin.options.gitRevision.deployFlag %>
    target-domain=<%= htmlWebpackPlugin.options.gitRevision.targetDomain %>
    ></div>
    <!-- this is the preloader of the app -->
    <!-- it is placed here because it is instantly available -->
    <transition id="app-loading-container">
      <div id="app-loading" v-if="visible">
        <svg class="spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>
    </transition>
    <div class="not-supported-msg">
      <h1>Sorry This Browser is not Supported</h1>
      <p>Please make sure you enabled javascript and use an updated browser to experience this website</p>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
