div.main-window {
  @include size($max);
  @include position(absolute, $null);
}

div.console {
  @include size(100%);

  z-index: $z-console;
  padding-left: 50px;
  padding-top: 75px;

  @include breakpoint($mobile) {
    padding: 0;
  }

  &.ready {
    background-color: $black;
  }

  menu {
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}
