<screen-overlay [ready]='hiddenLoading'></screen-overlay>

<matrix-code
  (codeReady)='codeGotReady($event)'
  (codeRuned)='codeGotRuned($event)'
  [runOverlay]='overlayReady'
  [removeCode]='overlayReady'>
</matrix-code>

<div class="main-window">
  <preloader [start]='hiddenLoading'></preloader>

  <div class="console" [ngClass]="{'ready': showConsole}">
    <written-message
      (consoleReady)='consoleGotReady($event)'
      [start]='hiddenLoading'>
    </written-message>

    <menu [showMenu]='menuReady'></menu>
  </div>
</div>
