<matrix-code
  (codeRunned)='codeRunned($event)'
  [runOverlay]='overlayReady'>
</matrix-code>

<div class="main-window">
  <preloader (loaded)='loadingFinished($event)'></preloader>

  <div class="console" [ngClass]="{'ready': showConsole}">
    <written-message
      (consoleReady)='runCodeOverlay($event)'
      [start]='hiddenLoading'>
    </written-message>

    <menu
      [showOverlay]='visibleOverlay'
      [activeItem]='lastActiveItem'
      [showMenu]='menuReady'>
    </menu>
  </div>
</div>
