div.main-window {
  @include size($max);
  @include position(absolute, $null);
}

div.console {
  @include size(100%);

  z-index: $z-console;
  padding-left: 50px;
  padding-top: 75px;

  &.ready {
    background-color: $black;
  }
}
