div.main-window {
  @include size($max);
  @include hidden-overflow;
  @include position(absolute, $null);
}

div.console {
  @include size(100%);

  z-index: $z-console;
  padding-left: 50px;
  padding-top: 75px;

  &.ready {
    background-color: $black;
  }

  @include breakpoint($mobile) {
    width: auto;
  }

  @include breakpoint($phone) {
    padding-left: 25px;
    padding-top: 50px;
  }
}
