$scale-complete: scale3d(1, 1, 1);
$animaiton-duration: .15s;
$animaiton-delay: .15s;
$border-size: 5px;

div.menu-section {
  @include position(absolute, $null);
  @include size($max);
  z-index: 12;

  &-background {
    background-color: $black;
  }

  div.menu-area {
    @include transition(opacity .5s ease-out);
    opacity: 1;

    &.fade-out {
      opacity: 0;
    }
  }

  div.menu-items {
    margin-left: 100px;
    height: 100%;

    div.menu-item {
      @include display(flex);
      margin: auto;
      height: 25vh;

      div.item-box {
        @include transform(translateY(-50%));
        @include size(500px 130px);

        text-align: center;
        position: relative;
        top: 50%;

        &:before, &:after,
        p.item:before,
        p.item:after {
          @include transition-timing-function(cubic-bezier(1, .75, .15, .9));
          @include transition(transform $animaiton-duration);

          background-color: $light-green;
          visibility: visible;
          position: absolute;
          content: '';
        }

        &:before, &:after {
          @include transform(scale3d(1, 0, 1));
          @include size($border-size $max);
          top: $null;
        }

        &:before {
          @include transform-origin($half $max);
          @include transition-delay(0s);
          left: $null;
        }

        &:after {
          @include transition-delay($animaiton-delay * 2);
          @include transform-origin($half $none);
          right: $null;
        }

        div.item-background {
          @include transition(background-color .25s ease .5s);
          @include position(absolute, $null);
          @include size(100%);

          background-color: transparent;
          z-index: -1;
        }

        p.item {
          @include transition(color .5s ease);
          @include white-rabbit;

          line-height: 130px;
          font-size: 50px;
          color: $green;

          &:before, &:after {
            @include transform(scale3d(0, 1, 1));
            @include size($max $border-size);
            left: $null;
          }

          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform-origin($none $half);
            top: $null;
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform-origin($max $half);
            bottom: $null;
          }
        }

        &.active-item {
          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform($scale-complete);
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform($scale-complete);
          }

          div.item-background {
            background-color: $dark-green;
          }

          p.item {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            visibility: visible;
            color: $fade-green;

            &:before {
              @include transform($scale-complete);
              @include transition-delay(0s);
            }

            &:after {
              @include transition-delay($animaiton-delay * 2);
              @include transform($scale-complete);
            }
          }
        }
      }

      &.hidden-item {
        @include hidden-element;

        div.item-box {
          @include hidden-element;
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, $null auto $null $half);
    @include size($half $max);
  }

  div.matrix-code {
    @include position(absolute, $null);
    margin: auto;

    &.hidden {
      display: none;
    }
  }
}
