<div id="menu-section">
  <div id="menu-container">
    <div class="menu-area menu-items" [ngClass]="{'fade-out': fadeOutArea}">
      <div *ngFor="let page of pages" class="menu-item hidden-item">

        <div class="item-box">
          <div class="item-background"></div>
          <p class="item">{{ page.title }}</p>
        </div>

      </div>
    </div>

    <div class="menu-area matrix-rain" [ngClass]="{'fade-out': fadeOutArea}">
      <matrix-rain [raining]='startRaining'></matrix-rain>
    </div>

    <div class="matrix-code" [class.hidden]='hideMatrixCode'>
      <matrix-code
        [resetCode]='resetMatrixCode'
        [runOverlay]='settedSection'>
      </matrix-code>
    </div>
  </div>

  <!-- <div id="menu-voices">
    <about-me (backToMenu)='resetMenu()'></about-me>
    <my-works (backToMenu)='resetMenu()'></my-works>
    <contact-me (backToMenu)='resetMenu()'</contact-me>
    <more></more>
  </div> -->
</div>
