$flash-easing: cubic-bezier(0.075,  0.820, 0.165, 1.000);
$scale-complete: scale3d(1, 1, 1);

$animaiton-duration: .15s;
$animaiton-delay: .15s;
$border-size: 5px;

div.menu-section {
  @include position(absolute, $null);
  @include size($max);
  z-index: 12;

  &-background {
    background-color: $black;
  }

  div.menu-area {
    @include transition(opacity 1s ease-out);
    opacity: 1;

    &.fade-out {
      opacity: 0;
    }
  }

  div.menu-items {
    margin-left: 100px;
    height: 100%;

    @include breakpoint($mobile) {
      padding: 50px 0;
      margin-left: 0;
    }

    &.hidden {
      div.menu-item {
        @include hidden-element;

        div.item-box {
          @include hidden-element;
        }
      }
    }

    div.menu-item {
      @include display(flex);
      margin: auto;
      height: 25vh;

      @include breakpoint($mobile) {
        height: 20vh;
      }

      div.item-box {
        @include transform(translateY(-50%));
        @include size(500px 130px);

        text-align: center;
        position: relative;
        top: 50%;

        @include breakpoint($mobile) {
          @include size(400px 120px);
          @include transform(none);

          margin: $null auto;
          width: $half;

          right: 8.8%;
          left: $null;
        }

        &:before, &:after,
        p.item:before,
        p.item:after {
          @include transition-timing-function(cubic-bezier(1, .75, .15, .9));
          @include transition(transform $animaiton-duration);

          background-color: $light-green;
          visibility: visible;
          position: absolute;
          content: '';
        }

        &:before, &:after {
          @include transform(scale3d(1, 0, 1));
          @include size($border-size $max);
          top: $null;
        }

        &:before {
          @include transform-origin($half $max);
          @include transition-delay(0s);
          left: $null;
        }

        &:after {
          @include transition-delay($animaiton-delay * 2);
          @include transform-origin($half $none);
          right: $null;
        }

        div.item-background {
          @include transition(background-color .25s ease .5s);
          @include position(absolute, $null);
          @include size(100%);

          background-color: transparent;
          z-index: -1;
        }

        p.item {
          @include transition(color .5s ease .5s);
          @include white-rabbit;

          line-height: 130px;
          font-size: 50px;
          color: $green;

          @include breakpoint($mobile) {
            line-height: 120px;
          }

          &:before, &:after {
            @include transform(scale3d(0, 1, 1));
            @include size($max $border-size);
            left: $null;
          }

          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform-origin($none $half);
            top: $null;
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform-origin($max $half);
            bottom: $null;
          }
        }

        &.active {
          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform($scale-complete);
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform($scale-complete);
          }

          div.item-background {
            background-color: $dark-green;
          }

          p.item {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            visibility: visible;
            color: $fade-green;

            &:before {
              @include transform($scale-complete);
              @include transition-delay(0s);
            }

            &:after {
              @include transition-delay($animaiton-delay * 2);
              @include transform($scale-complete);
            }
          }
        }

        &.selected {
          div.item-background {
            -webkit-animation: flash 100ms $flash-easing;
            -moz-animation: flash 100ms $flash-easing;
            -o-animation: flash 100ms $flash-easing;
            animation: flash 100ms $flash-easing;
          }
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, $null auto $null $half);
    @include size($half $max);

    @include breakpoint($mobile) {
      overflow: hidden;
      width: $max;

      right: $null;
      left: $null;
    }
  }

  div.matrix-code {
    @include middle-align;

    &.hidden {
      display: none;
    }
  }
}

@keyframes flash {
  0%   { background-color: $dark-green;   }
  50%  { background-color: $energy-green; }
  100% { background-color: $dark-green;   }
}
