div.menu-section {
  @include position(absolute, $null);
  @include size($max);
  z-index: 12;

  &-background {
    background-color: $black;
  }

  div.menu-area {
    @include transition(opacity 1s ease-out);
    opacity: 1;

    &.fade-out {
      opacity: 0;
    }

    @include breakpoint($mobile) {
      position: absolute;
      z-index: $z-pills;
      width: 100%;
    }
  }

  div.menu-items {
    @include back-button(5px);
    margin-left: 100px;
    height: 100%;

    @include breakpoint($mobile) {
      @include hidden-overflow;
      padding: 10vh 0;
      margin-left: 0;
    }

    div.button-border {
      @include display(flex);
      margin: auto;
      height: 25vh;

      @include breakpoint($mobile) {
        height: 20vh;
      }

      div.button-box {
        @include transform(translateY(-50%));
        @include size(500px 130px);

        position: relative;
        top: 50%;

        @include breakpoint($mobile) {
          @include size(50% 100px);
          margin: $null auto;
        }

        @include breakpoint($phone) {
          @include size(80% 80px);
        }

        div.button-background {
          @include size(100%);
        }

        p.button {
          line-height: 130px;
          font-size: 50px;
          padding: 0;

          @include breakpoint($mobile) {
            line-height: 100px;
            font-size: 40px;
            height: 100px;
          }

          @include breakpoint($phone) {
            line-height: 80px;
            font-size: 35px;
            height: 80px;
          }
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, $null auto $null $half);
    @include size($half $max);

    @include breakpoint($mobile) {
      @include hidden-overflow;
      pointer-events: none;
      width: $max;

      right: $null;
      left: $null;
    }
  }

  div.matrix-code {
    @include middle-align;
    pointer-events: none;

    &.hidden {
      display: none;
    }
  }
}
