$item-border-size: -5px;

div#menu-container {
  @include position(absolute, $null);
  @include size($max);

  margin-left: 50px;
  z-index: 12;

  div.menu-area {
    @include transition(opacity .3s ease-out);
    opacity: 1;

    &.fade-out {
      opacity: 0;
    }
  }

  div.menu-items {
    height: 100%;

    div.menu-item {
      @include display(flex);
      margin: auto;

      line-height: 25vh;
      height: 25vh;

      div.item-border {
        @include transition(width .25s ease-out, height .25s ease-out);
        @include transform(translateY(38%));
        @include visible-element;

        cursor: pointer;
        height: $null;

        &:before {
          @include position(absolute, $item-border-size null null $item-border-size);
          @include border-animation(width, 3);
          @include size($null 5px);

          $a: 25vh / 2;
          $b: 130px / 2;
          top: calc(#{$a} - #{$b});

          background: $light-green;
          content: '';
          left: 0;
        }

        &:after {
          @include position(absolute, $item-border-size $item-border-size null null);
          @include border-animation(height, 2);
          @include size(5px $null);

          $a: 25vh / 2;
          $b: 130px / 2;
          top: calc(#{$a} - #{$b});

          background: $light-green;
          content: '';
          left: 495px;
        }

        div.item-box {
          text-align: center;
          width: 500px;

          &:before {
            @include border-animation(height, 0);
            @include size(5px $null);

            $a: 25vh / -2;
            $b: 130px / -2;
            bottom: calc(#{$a} + #{$b});

            position: absolute;
            left: $null;

            background: $light-green;
            content: '';
          }

          &:after {
            @include position(absolute, null $null $item-border-size null);
            @include border-animation(width, 1);
            @include size($null 5px);

            $a: 25vh / 2;
            $b: 130px / 2;
            top: calc(#{$a} - #{$b} + 125px);

            background: $light-green;
            content: '';
          }

          div.item-background {
            @include transition(background-color .25s ease .5s);
            @include position(absolute, $null);
            @include size(500px 130px);

            $a: 25vh / 2;
            $b: 130px / 2;
            margin-top: calc(#{$a} - #{$b});

            background-color: transparent;
            z-index: -1;
          }

          p.item {
            @include transition(color .5s ease);
            @include white-rabbit;

            font-size: 50px;
            color: $green;
          }
        }

        &.active-item {
          border-color: transparent;

          &:before {
            @include border-animation(width, 0);
            width: 500px;
          }

          &:after {
            @include border-animation(height, 1);
            height: 130px;
          }

          div.item-box {
            &:before {
              @include border-animation(height, 3);
              height: 130px;
            }

            &:after {
              @include border-animation(width, 2);
              width: 500px;
            }

            div.item-background {
              background-color: $dark-green;
            }

            p.item {
              color: $fade-green;
            }
          }
        }
      }

      &.hidden-item {
        @include hidden-element;

        div.item-box {
          @include hidden-element;
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, $null $null $null null);
    @include size(50% $max);
  }

  div.matrix-code {
    @include position(absolute, $null);

    margin: auto;

    &.hidden {
      display: none;
    }
  }
}


// BUTTON ANIMATION:

// .button-box::before,
// .button-box::after,
// .button::before,
// .button::after {
//   @include transition-timing-function(cubic-bezier(1, .75, .15, .9));
//   @include transition(transform $animaiton-duration);

//   background-color: $light-green;
//   visibility: visible;
//   position: absolute;
//   content: '';
// }

// .button-box::before,
// .button-box::after {
//   @include transform(scale3d(1, 0, 1));
//   @include size($border-size $max);
//   top: $null;
// }

// .button-box::before {
//   @include transform-origin($half $max);
//   left: $null;
// }

// .button-box::after {
//   @include transform-origin($half $none);
//   right: $null;
// }

// .button::before,
// .button::after {
//   @include transform(scale3d(0, 1, 1));
//   @include size($max $border-size);
//   left: $null;
// }

// .button::before {
//   @include transform-origin($none $half);
//   top: $null;
// }

// .button::after {
//   @include transform-origin($max $half);
//   bottom: $null;
// }

// .button-box .button::after {
//   @include transition-delay($animaiton-delay);
// }

// .button-box.active .button::after {
//   @include transition-delay($animaiton-delay * 2);
// }

// .button-box::before {
//   @include transition-delay(0s);
// }

// .button-box.active::before {
//   @include transition-delay($animaiton-delay * 3);
// }

// .button-box .button::before {
//   @include transition-delay($animaiton-delay * 3);
// }

// .button-box.active .button::before {
//   @include transition-delay(0s);
// }

// .button-box::after {
//   @include transition-delay($animaiton-delay * 2);
// }

// .button-box.active::after {
//   @include transition-delay($animaiton-delay);
// }

// .button-box.active::before,
// .button-box.active::after,
// .button-box.active .button::before,
// .button-box.active .button::after {
//   @include transform(scale3d(1, 1, 1));
// }
