html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;

  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  backface-visibility: hidden;
  background-color: #000;
  text-size-adjust: none;

  user-select: none;
  font-weight: 400;

  appearance: none;
  overflow: hidden;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  padding: 0;
  margin: 0;
}

.no-js body,
.no-es5object body,
.no-csstransforms3d body {
  overflow: hidden;
  height: 100%;

  padding: 0;
  margin: 0;
}

#root {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.disabled-js,
.not-supported {
  text-align: center;
  position: absolute;

  cursor: default;
  display: none;
  z-index: 999;

  height: 100%;
  width: 100%;
}

.disabled-js .disabled-js-copy,
.not-supported .not-supported-copy {
  text-shadow: 0 0 10px #0c0;
  font-family: monospace;

  position: absolute;
  max-width: 625px;
  color: #0c0;

  height: 120px;
  margin: auto;
  width: 100%;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.not-supported .not-supported-copy {
  height: 95px;
}

.disabled-js .disabled-js-copy strong,
.not-supported .not-supported-copy strong {
  text-transform: uppercase;
  margin-bottom: 30px;

  letter-spacing: 5px;
  line-height: 25px;

  font-size: 20px;
  display: block;
}

.disabled-js .disabled-js-copy span,
.not-supported .not-supported-copy span {
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 16px;
}

.not-supported .not-supported-copy span {
  max-width: 460px;
  display: block;
  margin: 0 auto;
}

.not-supported .not-supported-copy span a {
  text-shadow: 0 0 10px #000;
  background-color: #0c0;

  text-decoration: none;
  padding: 0 2px 0 5px;
  color: #000;
}

.not-supported .not-supported-copy span a:hover {
  font-weight: bold;
}

.no-js .disabled-js,
.ms-ie .not-supported,
.no-webgl .not-supported,
.no-canvas .not-supported,
.no-history .not-supported,
.no-es5object .not-supported,
.no-canvastext .not-supported,
.no-csstransforms3d .not-supported,
.no-csspointerevents .not-supported {
  display: block !important;
}

.no-js #root,
.no-webgl #root,
.no-canvas #root,
.no-history #root,
.no-es5object #root,
.no-canvastext #root,
.no-csstransforms3d #root,
.no-csspointerevents #root {
  display: none !important;
}

@media (max-width: 767px) {
  .disabled-js .disabled-js-copy,
  .not-supported .not-supported-copy {
    max-width: 95%;
    height: 115px;
    width: 95%;
  }

  .not-supported .not-supported-copy {
    height: 110px;
  }

  .disabled-js .disabled-js-copy strong,
  .not-supported .not-supported-copy strong {
    letter-spacing: 0px;
    margin: 0 auto 25px;

    max-width: 320px;
    font-size: 18px;
  }

  .not-supported .not-supported-copy strong {
    max-width: 210px;
  }

  .disabled-js .disabled-js-copy span,
  .not-supported .not-supported-copy span {
    letter-spacing: 0px;
    line-height: 18px;

    max-width: 325px;
    font-size: 14px;

    display: block;
    margin: 0 auto;
  }

  .not-supported .not-supported-copy span {
    max-width: 310px;
  }
}

::-moz-selection {
  background-color: #0c0;
  color: #000;
}

::selection {
  background-color: #0c0;
  color: #000;
}
