.no-js .not-supported-msg,
.no-es5object .not-supported-msg,
.no-csstransforms3d .not-supported-msg {
  display: block !important;
}

.no-js #app,
.no-es5object #app,
.no-csstransforms3d #app {
  display: none !important;
}

.no-js body,
.no-es5object body,
.no-csstransforms3d body {
  overflow: hidden;
  height: 100%;

  padding: 0;
  margin: 0;
}

.not-supported-msg {
  background-color: #000000;
  position: absolute;
  cursor: default;

  text-align: center;
  display: none;

  height: 100%;
  width: 100%;
}

.not-supported-msg .not-supported-msg-copy {
  font-family: 'White Rabbit';
  color: #00cc00;

  position: absolute;
  margin: auto;

  height: 65px;
  width: 100%;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.not-supported-msg .not-supported-msg-copy h1 {
  letter-spacing: 5px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 20px;
}

.not-supported-msg .not-supported-msg-copy p {
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 16px;
}

body .dg.ac {
  z-index: 100;
}

body .dg.a {
  width: 260px !important;
  margin-right: 0;

  overflow-x: initial;
  position: relative;
}

body .dg.a .close-button {
  width: 260px !important;
}

@media (max-width: 991px) {
  .not-supported-msg .not-supported-msg-copy {
    height: 120px;
    width: 90%;
  }

  .not-supported-msg .not-supported-msg-copy h1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .not-supported-msg .not-supported-msg-copy {
    height: 150px;
    width: 90%;
  }

  .not-supported-msg .not-supported-msg-copy h1 {
    margin-bottom: 30px;
  }

  .not-supported-msg .not-supported-msg-copy p {
    line-height: 18px;
    font-size: 14px;
  }
}
