html, body {
  @include size($max);
  @include touch-callout;
  @include hidden-overflow;
  @include text-size-adjust;
  @include prevent-selection;
  @include font-smoothing(antialiased);

  min-width:  $max;
  min-height: $max;
  max-width:  $max;
  max-height: $max;

  margin:     $null;
  padding:    $null;

  cursor: none;
  -webkit-tap-highlight-color: transparent;

  @include breakpoint($mobile) {
    pointer-events: all;
    cursor: pointer;
  }
}

canvas {
  top:      $null;
  left:     $null;
  z-index:  $z-pills;
  position: absolute;
}

label, span, p {
  margin:  $null;
  padding: $null;
}

div.error-message {
  @include position(absolute, $null);
  @include hidden-overflow;
  @include white-rabbit;
  @include size($max);

  background-color: $black;
  line-height: 20px;
  cursor: default;

  padding-left: 50px;
  padding-top: 75px;

  &#msie {
    display: none;
  }

  a {
    text-transform: none;
    color: $green;
  }
}
