html, body {
  @include size($max);
  @include touch-callout;
  @include text-size-adjust;
  @include prevent-selection;
  @include font-smoothing(antialiased);

  min-width:  $max;
  min-height: $max;
  max-width:  $max;
  max-height: $max;

  margin:     $null;
  padding:    $null;
  overflow:   hidden;
}

canvas {
  top:      $null;
  left:     $null;
  z-index:  $z-pills;
  position: absolute;
}

label, span, p {
  margin:  $null;
  padding: $null;
}

p#loading-message {
  margin-left: 5px;
}
