div#back-button-section {
  @include position(absolute, $null);
  @include size($max);

  margin: auto;

  div.back-button-container {
    @include position(absolute, null $null $null);
    @include transition(opacity 1s ease-out);
    @include size(150px 50px);
    @include back-button;

    margin: 0 auto 25px;

    &.fadeOut {
      opacity: 0;
    }

    p.button {
      span:first-child {
        @include transition(transform .3s ease-out .5s);
        @include transform(translateX(-25px));

        position: absolute;
      }
    }

    div.button-box.active {
      p.button {
        span:first-child {
          @include transform(translateX(-35px));
        }
      }
    }
  }
}
