$scale-complete: scale3d(1, 1, 1);
$animaiton-duration: .2s;
$animaiton-delay: .25s;
$border-size: 3px;

div#back-button-section {
  @include position(absolute, $null);
  @include size($max);

  margin: auto;

  div.back-button-container {
    @include position(absolute, null $null $null);
    @include transition(opacity .5s ease-out);
    @include size(150px 50px);

    margin: 0 auto 25px;

    &.fadeOut {
      opacity: 0;
    }

    div.button-border {
      @include visible-element;
      cursor: pointer;

      div.button-box {
        text-align: center;
        width: 150px;

        &:before, &:after,
        p.button:before,
        p.button:after {
          @include transition-timing-function(cubic-bezier(1, .75, .15, .9));
          @include transition(transform $animaiton-duration);

          background-color: $light-green;
          visibility: visible;
          position: absolute;
          content: '';
        }

        &:before, &:after {
          @include transform(scale3d(1, 0, 1));
          @include size($border-size $max);
          top: $null;
        }

        &:before {
          @include transform-origin($half $max);
          @include transition-delay(0s);
          left: $null;
        }

        &:after {
          @include transition-delay($animaiton-delay * 2);
          @include transform-origin($half $none);
          right: $null;
        }

        div.button-background {
          @include transition(background-color .3s ease .5s);
          @include position(absolute, $null);
          @include size(150px 50px);

          background-color: transparent;
          z-index: -1;
        }

        p.button {
          @include transition(color .5s ease);
          @include hidden-element;
          @include white-rabbit;

          padding: 0 10% 0 20%;
          line-height: 50px;
          font-size: 25px;
          color: $green;
          margin: $null;

          &:before, &:after {
            @include transform(scale3d(0, 1, 1));
            @include size($max $border-size);
            left: $null;
          }

          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform-origin($none $half);
            top: $null;
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform-origin($max $half);
            bottom: $null;
          }

          span:first-child {
            @include transition(transform .3s ease-out .5s);
            @include transform(translateX(-25px));

            position: absolute;
          }
        }

        &.active {
          &:before {
            @include transition-delay($animaiton-delay * 3);
            @include transform($scale-complete);
          }

          &:after {
            @include transition-delay($animaiton-delay);
            @include transform($scale-complete);
          }

          div.button-background {
            background-color: $dark-green;
          }

          p.button {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            visibility: visible;
            color: $fade-green;

            &:before {
              @include transform($scale-complete);
              @include transition-delay(0s);
            }

            &:after {
              @include transition-delay($animaiton-delay * 2);
              @include transform($scale-complete);
            }

            span:first-child {
              @include transform(translateX(-35px));
            }
          }
        }
      }
    }
  }
}
