div.more-component {
  @include position(absolute, $null);
  @include size($max);
  margin: auto;

  &-background {
    background-color: $black;
    @include size($max);
  }

  &.fade-out canvas#pills {
    opacity: 0;
  }

  canvas#pills {
    @include transition(opacity .3s ease-out);
    opacity: 1;
  }
}
