div.screen-overlay {
  @include position(absolute, $null);

  background-image: url(../assets/overlay.png);
  background-position: top left;
  background-repeat: repeat;

  z-index: $z-screen;
  display: none;

  @include breakpoint($mobile) {
    pointer-events: none;
  }

  &.ready {
    display: block;
  }
}
