$ease-out-expo: cubic-bezier(.2, 1, .2, 1);

div.fullscreen {
  @include transform(translate(-$half, -$half));
  @include size(100vw);

  top: 50%;
  left: 50%;

  margin: auto;
  overflow: hidden;
  position: absolute;
  z-index: $z-preloader;

  &:before {
    @include transition(transform .25s $ease-out-expo);
    @include transform(scale(1.2));
    @include size(100vw);

    content: $void;
    position: absolute;
    border-radius: $half;
    box-shadow: $black 0 0 0 6000vw, inset 0 0 0 $black;
  }

  &.close:before {
    @include transform(scale($null));
  }
}
