$ease-out-expo: cubic-bezier(.2, 1, .2, 1);

div.fullscreen {
  @include transform(translate(-$half, -$half) scale(1.2));
  @include transition(transform .5s $ease-out-expo .5s);
  @include size(100vw);

  top: 50%;
  left: 50%;

  margin: auto;
  overflow: hidden;
  position: absolute;

  border-radius: $half;
  z-index: $z-preloader;
  background-color: $white;

  &.close {
    @include transform(translate(-$half, -$half) scale($null));
  }
}
