div.rabbit-hole-component {
  @include position(absolute, $null);
  @include size($max);

  background-image: radial-gradient(circle, transparent, $green);

  overflow: hidden;
  z-index: $z-max;
  // cursor: none;
}
