<div class="rabbit-hole-component">
  <div class="window-overlay" [ngClass]="{'fade-out': fadeOut, 'visible': showOverlay}">
    <div class="suggestion-container" [class.show]='canTake || canOpen || forceSuggestion'>
      <span>{{ suggestion }}</span>
    </div>
  </div>

  <div class="guidelines-container" *ngIf='!introPlayed'>
    <p class="info-text" [class.dissolve]='showOverlay'>{{ guidelines }}</p>

    <!-- <div class="button-border" [class.lower]='!isFullSize'>
      <div class="button-box" [ngClass]="{'active': true, 'selected': ready}">

        <div class="button-background"></div>
        <p class="button" [class.back]='backButton'></p>

      </div>
    </div> -->
  </div>

  <screen-overlay [ready]='showScreen'></screen-overlay>
</div>
