<div class="rabbit-hole-component">
  <div class="window-overlay" [ngClass]="{'fade-out': fadeOut, 'visible': showOverlay}">
    <div class="suggestion-container" [class.show]='canTake || canOpen || forceSuggestion'>
      <span>{{ suggestion }}</span>
    </div>
  </div>

  <div class="guidelines-container" *ngIf='!introPlayed'>
    <p class="guidelines-text info-text" [class.dissolve]='showOverlay'>{{ guidelines }}</p>

    <p class="guidelines-text warning-text" [class.fade]='isFullsize === false'>
      It seems that your browser window is not full size.
      Please, be sure to maximize it in order to fully enjoy this experience.
    </p>

    <div class="button-border" [ngClass]="{'lower': !firstScreenSize, 'fadeOut': introStarted}">
      <div class="button-box" [ngClass]="{'active': activeButton, 'selected': ready}">
        <div class="button-background"></div>
        <p class="button" [class.back]='backButton'></p>
      </div>
    </div>
  </div>

  <screen-overlay [ready]='showScreen'></screen-overlay>
</div>
