div.rabbit-hole-component {
  @include position(absolute, $null);
  @include size($max);

  overflow: hidden;
  z-index: $z-max;

  div.window-overlay {
    @include transition(opacity 2s linear 2.5s);
    @include position(absolute, $null);
    @include size($max);

    background-color: $dark-green-overlay;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  div.guidelines-container {
    @include middle-align;

    p.info-text {
      @include size(835px 70px);
      @include white-rabbit;

      position: relative;
      margin-left: 50px;
      margin-top: 75px;

      &.dissolve { span { opacity: 0; } }
      span { @include dissolve-text(362); }
    }
  }
}
