$scroll-easing: cubic-bezier(0.390, 0.575, 0.565, 1.000);

div.experiments {
  @include position(absolute, $null);
  @include visible-overflow;
  @include size($max);

  background-color: $black;
  padding-left: 0;
  z-index: 2;

  &.smallList {
    @include hidden-overflow;

    div.experiments-area {
      @include transition(opacity 1s ease-out);
      bottom: auto;
      top: 50%;
    }
  }

  div.experiments-area {
    @include transition(transform 0.5s $scroll-easing, opacity 1s ease-out);
    @include position(absolute, $null null $null);
    @include backface-visibility(hidden);

    padding-left: 50px;
    opacity: 1;

    @include breakpoint($phone) {
      padding-left: 25px;
    }

    &.fadeOut {
      opacity: 0;
    }

    div.experiment-source {
      margin: 14vh 0;

      &.hidden-source {
        @include hidden-element;
      }

      &.active {
        div.selected-experiment {
          @include visible-element;
        }

        p.experiment {
          @include transform(translateX(20px));

          position: relative;
          color: $fade-green;

          @include breakpoint($phone) {
            @include transform(translateX(15px));
          }
        }
      }

      p.experiment,
      div.selected-experiment {
        @include transition(transform .3s ease-out);
        @include white-rabbit;

        display: inline-block;
        font-size: 25px;

        @include breakpoint($phone) {
          font-size: 18px;
        }
      }

      p.experiment {
        line-height: 20px;

        @include breakpoint($phone) {
          line-height: 15px;
        }
      }
    }
  }

  div.matrix-rain {
    @include position(fixed, $null);
    @include size($max);

    pointer-events: none;
  }

  div#back-button-section div.back-button-container {
    position: fixed;
  }
}
