$COLUMNS: 9;

div.matrix-rain-container {
  @include transition(transform 5000ms ease-out);
  @include hidden-overflow;
  @include martix-code-nfi;
  @include middle-align;
  @include size($max);

  background-color: transparent;
  background: transparent;
  z-index: $z-rain;

  p.code-column {
    position: absolute;
    height: auto;
    width: 40px;

    text-align: center;
    line-height: 25px;

    $code-sizes: (12, 25, 60);

    @for $i from 1 through 3 {
      $current-size: #{nth($code-sizes, $i)};
      $animation: deep-drop;
      $margin: -0.5%;
      $z: 1;

      @if $i == 2 {
        $animation: drop;
        $margin: 0%;
        $z: 2;
      } @else if $i == 3 {
        $animation: drop;
        $margin: -0.75%;
        $z: 3;
      }

      &.column-size-#{$current-size} {
        -webkit-animation-name: $animation;
        -moz-animation-name: $animation;
        -o-animation-name: $animation;
        animation-name: $animation;

        margin-left: $margin;
        z-index: $z;
      }
    }

    span {
      text-shadow: 0 -12px 10px $green;
      display: block;
      width: auto;

      &:nth-child(-n+5) {
        opacity: .3;
      }

      &:nth-child(n+6):nth-child(-n+10) {
        opacity: .42;
      }

      &:nth-child(n+11):nth-child(-n+15) {
        opacity: .54;
      }

      &:nth-child(n+16):nth-child(-n+25) {
        opacity: .66;
      }

      &:nth-child(n+26):nth-child(-n+35) {
        opacity: .78;
      }

      &:nth-child(n+36):nth-child(-n+40) {
        opacity: .9;
      }

      &:nth-child(n+41) {
        opacity: 1;
      }

      &:nth-last-child(3) {
        color: $fade-green;
      }

      &:nth-last-child(2) {
        color: $light-green;
      }

      &:nth-last-child(1) {
        color: $energy-green;
      }

      @for $i from 1 through 3 {
        $current-size: #{nth($code-sizes, $i)};

        &.code-size-#{$current-size} {
          $size: #{$current-size}px;

          font-size: $size;
          height: $size;
        }
      }
    }
  }

  @for $i from 0 through $COLUMNS {
    p.code-#{$i} {
      $delay: getRandom(0ms, 1000ms);
      $duration: getRandom(1000ms, 15000ms);

      position: absolute;
      left: unquote("#{$i * 10}%");
      transform: translateY(-110%);
      // transform: translateY(-150%);

      -webkit-animation-duration: $duration;
      -moz-animation-duration: $duration;
      -o-animation-duration: $duration;
      animation-duration: $duration;

      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;

      @include animation-delay($delay);

      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      // &.column-size-12 {
      //   transform: translateY(-200%);
      // }

      @include breakpoint($mobile) {
        left: unquote("#{$i * 20}%");
      }
    }
  }
}

@keyframes drop {
  from { transform: translateY(-100%); }
  to   { transform: translateY(100%);  }
}

@keyframes deep-drop {
  from { transform: translateY(-100%); }
  to   { transform: translateY(175%);  }
}

// @keyframes drop {
//   from { transform: translateY(-150%); }
//   to   { transform: translateY(100%);  }
// }

// @keyframes deep-drop {
//   from { transform: translateY(-200%); }
//   to   { transform: translateY(175%);  }
// }
