div.matrix-code-container {
  @include martix-code-nfi;
  @include middle-align;
  @include size(110%);

  top: -5%;
  left: -5%;

  display: block;
  z-index: $z-code;
  background-color: transparent;

  @include breakpoint($mobile) {
    pointer-events: none;
  }

  div.code-layout {
    @include size($max);
    @include hidden-element;
    @include transition(transform 8s linear);

    will-change: transform;

    p.code-column {
      $code-sizes: (12, 25, 60);
      @include size(40px auto);

      position: absolute;
      text-align: center;
      line-height: 25px;

      span {
        display: block;
        width: auto;

        margin: $null;
        padding: $null;

        text-shadow: 0 -12px 10px $green;

        &:nth-child(-n+5) {
          opacity: .3;
        }

        &:nth-child(n+6):nth-child(-n+10) {
          opacity: .42;
        }

        &:nth-child(n+11):nth-child(-n+15) {
          opacity: .54;
        }

        &:nth-child(n+16):nth-child(-n+25) {
          opacity: .66;
        }

        &:nth-child(n+26):nth-child(-n+35) {
          opacity: .78;
        }

        &:nth-child(n+36):nth-child(-n+40) {
          opacity: .9;
        }

        &:nth-child(n+41) {
          opacity: 1;
        }

        &:nth-last-child(3) {
          color: $fade-green;
        }

        &:nth-last-child(2) {
          color: $light-green;
        }

        &:nth-last-child(1) {
          color: $energy-green;
        }

        @for $i from 1 through 3 {
          $current-size: #{nth($code-sizes, $i)};

          &.code-size-#{$current-size} {
            $size: #{$current-size}px;

            height: $size;
            font-size: $size;
          }
        }
      }

      @for $i from 1 through 3 {
        $z: 1;
        $marginTop: 0%;
        $marginLeft: -0.5%;
        $current-size: #{nth($code-sizes, $i)};

        @if $i == 2 {
          $z: 2;
          $marginLeft: 0%;
        } @else if $i == 3 {
          $z: 3;
          $marginTop: -40%;
          $marginLeft: -0.75%;
        }

        &.column-size-#{$current-size} {
          margin-left: $marginLeft;
          margin-top: $marginTop;
          z-index: $z;
        }
      }
    }

    @for $i from 0 through 99 {
      p.code-#{$i} {
        $top: getRandom(1, 50);

        top: unquote("#{-$top}%");
        left: unquote("#{$i}%");
        position: absolute;

        @include breakpoint($mobile) {
          left: unquote("#{$i * 4}%");
        }

        // @include breakpoint($phone) {
        //   left: unquote("#{$i * 4}%");
        // }
      }
    }

    &.setup-animation {
      @include transform(translateY(-3000px));
    }

    &.run-animation {
      @include transform(translateY(3000px));
      @include visible-element;
    }
  }
}
