$scroll-easing: cubic-bezier(0.390, 0.575, 0.565, 1.000);

div.my-works {
  @include position(absolute, $null);
  @include size($max);

  background-color: $black;
  padding-left: 100px;
  z-index: 2;

  @include breakpoint($mobile) {
    @include visible-overflow;
    padding-left: 0;
  }

  &.smallList {
    div.works-area {
      @include transition(opacity 1s ease-out);
      bottom: auto;
      top: 50%;
    }

    @include breakpoint($mobile) {
      @include hidden-overflow;
    }
  }

  div.works-counter {
    @include position(absolute, 50px auto auto);
    @include transition(opacity 1s ease-out);

    text-align: center;
    position: absolute;
    width: 100%;

    opacity: 0;
    left: 0;

    &.visible {
      opacity: 1;
    }

    &.fadeOut {
      opacity: 0;
    }

    span {
      @include white-rabbit;
    }
  }

  div.works-area {
    @include transition(transform 0.5s $scroll-easing, opacity 1s ease-out);
    @include position(absolute, $null null $null);
    @include backface-visibility(hidden);

    opacity: 1;

    @include breakpoint($mobile) {
      padding-left: 50px;
    }

    @include breakpoint($phone) {
      padding-left: 25px;
    }

    &.fadeOut {
      opacity: 0;
    }

    div.project-source {
      margin: 14vh 0;

      &.hidden-source {
        @include hidden-element;
      }

      &.visible-source {
        p.project {
          visibility: visible;
        }
      }

      &.active {
        div.selected-project {
          @include visible-element;
        }

        p.project {
          @include transform(translateX(25px));

          position: relative;
          color: $fade-green;

          @include breakpoint($mobile) {
            @include transform(translateX(20px));
          }

          @include breakpoint($phone) {
            @include transform(translateX(15px));
          }
        }
      }

      p.project,
      div.selected-project {
        @include transition(transform .3s ease-out);
        @include white-rabbit;

        display: inline-block;
        font-size: 25px;

        @include breakpoint($phone) {
          font-size: 18px;
        }
      }

      p.project {
        line-height: 20px;

        @include breakpoint($phone) {
          line-height: 15px;
        }
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, 0 auto 0 $half);
    @include size($half $max);

    pointer-events: none;

    @include breakpoint($mobile) {
      position: fixed;
      width: $max;
      left: 0;
    }
  }

  div#back-button-section div.back-button-container {
    @include breakpoint($mobile) {
      position: fixed;
    }
  }
}
