<div class="my-works" [class.smallList]='projects.length < 6'>
  <screen-overlay [ready]='true'></screen-overlay>

  <div *ngIf='!isMobile && !activeBackButton && projects.length > 5' class="works-counter"
       [ngClass]="{'visible': showWorksCounter, 'fadeOut': fadeOut }">
    <span>{{ currentWork + 1 }} / {{ projects.length }}</span>
  </div>

  <div class="works-area" [class.fadeOut]='fadeOut'
       [ngStyle]="{
         '-webkit-transform': 'translateY(' + listOffset + ')',
         '-moz-transform': 'translateY(' + listOffset + ')',
         '-ms-transform': 'translateY(' + listOffset + ')',
         '-o-transform': 'translateY(' + listOffset + ')',
         'transform': 'translateY(' + listOffset + ')'
       }">

    <div *ngFor="let work of worksList; let w = index;"
          class="project-source hidden-source" [class.active]='w === currentWork'>

      <div class="selected-project">//</div>
      <p class="project">{{ work.name }}</p>

    </div>
  </div>

  <div class="works-area matrix-rain">
    <matrix-rain
      [removeRain]='removeMatrixRain'
      [raining]='startRaining'>
    </matrix-rain>
  </div>

  <back-button
    (buttonClicked)='removeProjectsSection()'
    [showBackButton]='showBackButton'
    [active]='activeBackButton'
    [backToMenu]='goToMenu'>
  </back-button>
</div>
