div.my-works {
  @include position(absolute, $null);
  @include size($max);

  background-color: $black;
  padding-left: 100px;
  z-index: 2;

  &.hidden {
    @include remove-element;
  }

  div.works-area {
    @include transition(opacity 1s ease-out);
    @include position(absolute, $null null $null);

    height: 78.5vh;
    margin: auto;
    opacity: 1;

    &.fadeOut {
      opacity: 0;
    }

    div.project-source {
      margin: 14vh 0;

      &.hidden-source {
        @include hidden-element;
      }

      &.active {
        div.selected-project {
          @include visible-element;
        }

        p.project {
          @include transform(translateX(25px));

          position: relative;
          color: $fade-green;
        }
      }

      p.project,
      div.selected-project {
        @include transition(transform .3s ease-out);
        @include white-rabbit;

        display: inline-block;
        font-size: 25px;
      }

      p.project {
        line-height: 20px;
      }
    }
  }

  div.matrix-rain {
    @include position(absolute, 0 auto 0 $half);
    @include size($half $max);
  }
}
