<div class="rabbit-hole-component">
  <div class="window-overlay" [class.visible]='showOverlay'></div>

  <div class="guidelines-container">
    <p class="info-text" [class.dissolve]='showOverlay'>{{ guidelines }}</p>

    <!-- <div class="button-border" [class.lower]='!isFullSize'>
      <div class="button-box" [ngClass]="{'active': true, 'selected': ready}">

        <div class="button-background"></div>
        <p class="button" [class.back]='backButton'></p>

      </div>
    </div> -->
  </div>

  <screen-overlay [ready]='showScreen'></screen-overlay>
</div>
