@import 'variables';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@keyframes flash {
  0% {
    background-color: $green-background;
  }

  50% {
    background-color: $energy-green;
  }

  100% {
    background-color: $green-background;
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: $green;
    opacity: 0.5;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes deep-drop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(175%);
  }
}
