$c-white: rgba(255, 255, 255, 1);

$c-aqua    : rgb(127, 219, 255);
$c-blue    : rgb(0, 116, 217);
$c-navy    : rgb(0, 31, 63);
$c-teal    : rgb(57, 204, 204);
$c-green   : rgb(46, 204, 64);
$c-olive   : rgb(61, 153, 112);
$c-lime    : rgb(1, 255, 112);

$c-yellow  : rgb(255, 220, 0);
$c-orange  : rgb(255, 133, 27);
$c-red     : rgb(255, 65, 54);
$c-fuchsia : rgb(240, 18, 190);
$c-purple  : rgb(177, 13, 201);
$c-maroon  : rgb(133, 20, 75);

$c-white   : rgb(255, 255, 255);
$c-silver  : rgb(221, 221, 221);
$c-gray    : rgb(170, 170, 170);

$c-black   : rgb(31, 31, 31);
