$white            : rgb(255, 255, 255);
$silver           : rgb(221, 221, 221);
$gray             : rgb(170, 170, 170);
$dark-gray        : rgb(31, 31, 31);
$black            : rgb(0, 0, 0);

$aqua             : rgb(127, 219, 255);
$blue             : rgb(0, 116, 217);
$navy             : rgb(0, 31, 63);

$teal             : rgb(57, 204, 204);
$green            : rgb(0, 204, 0);
$olive            : rgb(61, 153, 112);
$lime             : rgb(1, 255, 112);

$yellow           : rgb(255, 220, 0);
$orange           : rgb(255, 133, 27);
$red              : rgb(255, 65, 54);

$fuchsia          : rgb(240, 18, 190);
$purple           : rgb(177, 13, 201);
$maroon           : rgb(133, 20, 75);

$energy-green     : rgb(221, 255, 221);
$light-green      : rgb(187, 255, 187);
$fade-green       : rgb(136, 255, 136);
$dark-green       : rgb(0, 102, 0);

$green-background : rgba(0, 68, 0, 0.5);
$green-overlay    : rgba(0, 34, 0, 0.25);
