@import 'breakpoint-sass';
@include breakpoint-set('transform resolutions', false);

$xs: 0 767px;

$sm: 768px 991px;
$sm-down: 0 991px;

$md: 992px 1199px;
$md-down: 0 1199px;

$lg: 1200px 1399px;
$lg-down: 0 1399px;

$mlg: 1400px 1699px;
$mlg-down: 0 1699px;

$xmlg: 1700px;
$xmlg-down: 0 1700px;

$xlg: 0 1800px;
$xxlg: 2000px 5000px;

$desktop: min-width 992px;
