<div class="menu-section" [ngClass]="{'menu-section-background': activeItem !== null}">
  <screen-overlay [ready]='showOverlay'></screen-overlay>

  <div class="menu-area menu-items" [ngClass]="{'hidden': hiddenItems, 'fade-out': fadeOutArea}">
    <div *ngFor="let page of pages; let p = index" class="button-border">

      <div class="button-box" [ngClass]="{'active': p === currentItem, 'selected': p === settedSection}">
        <div class="button-background"></div>
        <p class="button">{{ page }}</p>
      </div>

    </div>
  </div>

  <div class="menu-area matrix-rain" [ngClass]="{'fade-out': fadeOutArea}">
    <matrix-rain [removeRain]='stopRaining' [raining]='startRaining'></matrix-rain>
  </div>

  <div class="matrix-code">
    <matrix-code [runOverlay]='settedSection !== null'></matrix-code>
  </div>
</div>
