@font-face {
  src:
    url('assets/fonts/matrix-code/Matrix-Code-NFI.otf') format('opentype'),
    url('assets/fonts/matrix-code/Matrix-Code-NFI.ttf') format('truetype');

  font-family: 'Martix Code NFI';
  font-display: swap;
  font-style: normal;
  font-weight: 400;

  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

@font-face {
  src:
    url('assets/fonts/white-rabbit/White-Rabbit.svg#WhiteRabbit') format('svg'),
    url('assets/fonts/white-rabbit/White-Rabbit.ttf') format('truetype'),
    url('assets/fonts/white-rabbit/White-Rabbit.woff') format('woff'),
    url('assets/fonts/white-rabbit/White-Rabbit.eot') format('eot');

  font-family: 'White Rabbit';
  font-display: swap;
  font-style: normal;
  font-weight: 400;

  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}
