@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Martix Code NFI';
  src:
    url('assets/fonts/matrix-code/Matrix-Code-NFI.otf') format('opentype'),
    url('assets/fonts/matrix-code/Matrix-Code-NFI.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'White Rabbit';
  src:
    url('assets/fonts/white-rabbit/White-Rabbit.svg#WhiteRabbit') format('svg'),
    url('assets/fonts/white-rabbit/White-Rabbit.ttf') format('truetype'),
    url('assets/fonts/white-rabbit/White-Rabbit.woff') format('woff'),
    url('assets/fonts/white-rabbit/White-Rabbit.eot?') format('eot');
}
