div#written-message {
  display: block;
  z-index: $z-message;

  @include size($max);
  @include position(relative, $null);

  p.message-text {
    position: absolute;
    @include white-rabbit;
    @include transition(opacity 0.5s ease-out);

    &.fade-out {
      opacity: 0;
    }

    &.dissolve { span { opacity: 0; } }
    span { @include dissolve-text(24); }
  }

  &.hidden-message {
    visibility: hidden;
  }
}
